
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div style="flex:1;display:flex;flex-direction: row;height:30px;border-radius: 20px;border:1px solid grey;background-color: #f5f5f5">
      <div style="width:40px;height:100%;display: flex;justify-content: center;align-items: center">
        <ion-icon name="md-search"></ion-icon>
      </div>
      <div style="flex:1;height:100%;display: flex;justify-content: center;align-items: center;border-radius: 20px;">
        <input type="text" style="width:100%;background-color: #f5f5f5;border:none"  [ngModel]="input_value" (ngModelChange)="check_input_value($event)">
      </div>
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <span style="color:red">
        取消
      </span>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngFor="let p of item_list" style="border-bottom:1px solid #c8c7cc;padding:0px 20px;display: flex;height:29px;justify-content: space-between;align-items: center;">
    <span>{{p.title}}</span>

  </div>
  <div style="border-bottom:1px solid #c8c7cc;padding:0px 20px;display: flex;height:29px;justify-content: space-between;align-items: center;">
    <span>搜索历史</span>
    <span>清空</span>
  </div>
  <div style="margin:10px;overflow: hidden">
    <div style="margin:10px 10px;padding:0px 15px;float:left;background-color: #c8c7cc" *ngFor="let grocery of [1,2,3,4,5,6,7,8];">搜索历史</div>
  </div>
  <div style="border-bottom:1px solid #c8c7cc;padding:0px 20px;display: flex;height:29px;justify-content: space-between;align-items: center;">
    <span>热门搜索</span>
  </div>
  <div style="margin:10px;overflow: hidden">
    <div style="margin:10px 10px;padding:0px 15px;float:left;background-color: #c8c7cc" *ngFor="let grocery of [1,2,3,4,5,6,7,8];">热门搜索</div>
  </div>




</ion-content>

