.step_content{
  height:1px;
  background:red;
  float:left
}
.step_button{
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color:white;
  top:-10px;
}
.step_lable{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:10px 5px;

}

