<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title> 选配产品</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <span style="color:red">
        下一步
      </span>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="margin:20px 30px;height:1px;background:grey;position:relative">
    <div class="step_content" style="width:33%">
      <div class="step_button">
        <span>1</span>

      </div>
      <span style="position: absolute;top: 30px;width: 60px;text-align: center;margin-left: -20px;">
       选配产品
     </span>
    </div>
    <div class="step_content" style="width:33%;background: grey;">
      <div class="step_button" style="left:33%;background: grey">
        2
      </div>
      <span style="position: absolute;top: 30px;width: 60px;text-align: center;margin-left: -20px;">
       成功案例
     </span>
    </div>
    <div class="step_content" style="width:33%;background: grey">
      <div class="step_button" style="left:66%;background: grey">
        3
      </div>
      <span style="position: absolute;top: 30px;width: 60px;text-align: center;margin-left: -20px;">
       买方
     </span>
    </div>
    <div class="step_content" style="background: grey">
      <div class="step_button" style="right:0px;background: grey">
        4
      </div>
      <span style="position: absolute;top: 30px;width: 72px;text-align: center;margin-left: -46px;">
       生成报价单
     </span>
    </div>
  </div>
  <!--<div class="step_lable">-->
  <!--<span style="width:72px;-->
  <!--text-align: center;">-->
  <!--选配产品-->
  <!--</span>-->
  <!--<span style="width:72px;-->
  <!--text-align: center;">-->
  <!--成功案例-->
  <!--</span>-->
  <!--<span style="width:72px;-->
  <!--text-align: center;">-->
  <!--买方-->
  <!--</span>-->
  <!--<span style="width:72px;-->
  <!--text-align: center;">-->
  <!--生成报价单-->
  <!--</span>-->
  <!--</div>-->
  <div style="margin-bottom:8px;height:30px;display:flex;justify-content:space-between;align-items:center;margin-top: 60px;padding:0px 10px;color:#A0522D;background:#FF8C00">
    <span>成功案例(可不选择)</span>
    <ion-icon name="ios-arrow-forward"></ion-icon>

  </div>
  <ion-list *ngFor="let p of itemArray" class="AddGoodsCaseList">
    <ion-item class="addGoodsItem AddGoodsCaseListTitle"  >
      <span class="addGoodsItemTitle">{{p.title}}</span>
    </ion-item>
    <ion-item class="addGoodsItem" *ngFor="let p of itemArray" >
      <ion-label class="addGoodsItemTitle">{{p.title}}</ion-label>
      <!--<span class="addGoodsItemTitle"></span>-->
      <!--<button  ion-button  item-end>-->
        <ion-toggle item-end></ion-toggle>
      <!--</button>-->
    </ion-item>
    <ion-item>
      <ion-label>Sausage</ion-label>
      <ion-toggle [(ngModel)]="sausage" ></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="background-color: red;"><span style="color:white">添加产品</span></ion-title>
  </ion-toolbar>
</ion-footer>
