
.addGoodsItem{
  padding-left:0px;
}
.addGoodsItem button{
  color:#999999;
  font-size: 12px;
  margin-left: 5px;
}
.addGoodsItem button span{
  margin-right: 5px;
}
.addGoodsItemTitle{
  margin-left: 20px;
}
.addGoodsItem input{
  border: 1px solid #dbdbdb;
  width: 250.5px;
  height: 27.5px !important;
  text-align: left;
  font-size: 12px !important;
  color:#999999;
  padding-left:6px !important;
}
.addGoodsItem textarea{
  border: 1px solid #dbdbdb;
  width: 250.5px;
  height: 195.5px !important;
  text-align: left;
  font-size: 12px !important;
  color:#999999;
  resize:none;
  padding-top:5px !important;
  padding-left:5px !important;
}
.addGoodsRecommendButton{
  background-color: red;
  color:white;
}
.addGoodsRecommendButton span{
  color:white;
}
.AddGoodsCaseList{
  margin:0px 0px !important;
}
.AddGoodsCaseListTitle{
  background-color: #c8c7cc;
}
