<ion-header style="background-color: red !important;">
  <ion-navbar style="background-color: red !important;">
    <button ion-button menuToggle>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title> 选配产品</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <span style="color:red">
        下一步
      </span>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="price_list_step_container">
    <div class="step_content" style="width:20%">
      <div class="step_button">
        <span class="price_list_step_container_step_num">1</span>
      </div>
      <span class="price_list_step_container_mark">
       选配产品
     </span>
    </div>
    <div class="step_content" style="width:33%;background: grey;">
      <div class="step_button" style="left:33%;background: grey">
        <span class="price_list_step_container_step_num">2</span>
      </div>
      <span class="price_list_step_container_mark margin_left_30" >
       成功案例
     </span>
    </div>
    <div class="step_content" style="width:33%;background: grey">
      <div class="step_button" style="left:66%;background: grey">
        <span class="price_list_step_container_step_num">3</span>
      </div>
      <span class="price_list_step_container_mark margin_left_30">
       买方
     </span>
    </div>
    <div class="step_content" style="background: grey">
      <div class="step_button" style="right:0px;background: grey">
        <span class="price_list_step_container_step_num">4</span>
      </div>
      <span class="price_list_step_container_mark margin_left_2">
       生成报价单
     </span>
    </div>
  </div>
  <div class="price_list_step_content_menu">
    <span>显示历史报价单(选中即可套用)</span>
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </div>
  <ion-list *ngFor="let p of itemArray" class="AddGoodsCaseList">
    <ion-item class="padding_0 back_color_fececec"  >
      <span class="margin_left_20">{{p.title}}</span>
    </ion-item>
    <ion-item class="padding_0" *ngFor="let p of itemArray" >
      <ion-label class="margin_left_20 font_size_12 color_666666">{{p.title}}</ion-label>
      <!--<span class="addGoodsItemTitle"></span>-->
      <!--<button  ion-button  item-end>-->
        <ion-toggle item-end></ion-toggle>
      <!--</button>-->
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <div class="price_list_step_content_menu color_red">
    添加产品
  </div>
</ion-footer>
