<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title> 选择客户</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <span style="color:red">
        下一步
      </span>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="display: flex;flex-direction: column;">
  <div style="margin:10px;display:flex;flex-direction: row;height:40px;border-radius: 20px;background-color: #f5f5f5">
      <div style="width:40px;height:100%;display: flex;justify-content: center;align-items: center">
        <ion-icon name="md-search"></ion-icon>
      </div>
    <div style="flex:1;height:100%;display: flex;justify-content: center;align-items: center;padding:0px 20px">
      <input type="text" style="width:100%;background-color: #f5f5f5;border:none">
    </div>
  </div>
  <ion-list class="AddGoodsCaseList">
    <ion-item class="addGoodsItem" *ngFor="let p of itemArray" >
      <div style="font-size: 12px;color:grey">
        <div style="float:left;margin-left: 10px">
          中国航天科技
        </div>
        <div style="float:right">
          客户编号：4234424234
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div style="flex:1;display:flex;flex-direction: row">
    <div style="flex:1;height:100%;">
      <ion-list *ngFor="let p of itemArray" class="AddGoodsCaseList" style="flex:1">
        <ion-item class="addGoodsItem AddGoodsCaseListTitle"  >
          <span class="addGoodsItemTitle">{{p.title}}</span>
        </ion-item>
        <ion-item class="addGoodsItem" style="padding-left: 10px" *ngFor="let p of itemArray" >
          <div style="font-size: 18px">姓名</div>
          <div style="font-size: 12px;color:grey">
            <div style="float:left">
              所属地：河北省
            </div>
            <div style="float:right">
              客户编号：4234424234
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div style="width:40px;display: flex;flex-direction: column;background-color: #c8c7cc">
      <div style="width:100%;height:60px;text-align: center"  *ngFor="let p of itemArray">{{p.title}}</div>
    </div>
  </div>

</ion-content>
